
/* Full page height and centering */
html, body {
    height: 100%;
    margin: 0;
  }
  
  .container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .row {
    width: 100%;
    max-width: 500px; /* Limit the form's width */
  }
  
  